body{
    /* background-image: url("../YELI-Insurence/bilder/OIP.jpg"); */
    background-color: #e0e0e0;    
    margin: 0;
}
#header{
    
    background-color: #edae31;
    width: auto;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#YELI{
    height: 300px;
    display: inline-flex;
    flex-shrink: 0;
}
#unterschrift{
    font-size: 40px;
    color: #edae30;
    
}
.menuButton{
    width: 90px;
 
    
}
#content{
    margin-top: 100px;
    margin-left: 20px;
}
#T1{
    display: inline-flex;
    flex-shrink: 0;
    width: 600px;
    height: 180px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#grid-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Pic{
    border-radius: 5%;
    border-style: solid;
    border-width: 4px;
    height: 550px;
}
.t2t{
    position: relative;
}
#T3{
    display:contents;
    height: 30px;
    font-size: 25px;
    width: 1000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.menu {
    position: fixed;
    z-index: 2000;
    top: 140px;
    background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    transform: translateX(100vh);
    transition: transform 0.6s cubic-bezier(0.11, 0, 0.5, 0);
}

.menu.opened {
    transform: translateX(0);
}